<% layout('/layouts/boilerplate') %>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <!-- <h4 class="alert-heading"><%= err.stack %></h4> -->
    <p>Oops! Something is wrong. Try going back and refreshing your action</p>
    <hr>
  </div>